# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
python-multipart

# data science
numpy
pandas
scikit-learn
tensorflow-cpu

# # tests/linter
# black
# coverage
# flake8
# pytest
# yapf

# API
gcsfs
# google-cloud-storage
# s3fs not sure whats this package
fastapi
uvicorn
streamlit


# utilities
six>=1.14
joblib
# termcolor not sure whats this package
pytz
